<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StickyClip.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <StickyClip.Settings>
            <setting name="CommandInitiatorToken" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="DefaultSize" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="SaveFile" serializeAs="String">
                <value>SavedNotes.json</value>
            </setting>
            <setting name="ViewerFontSize" serializeAs="String">
                <value>small</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>13</value>
            </setting>
        </StickyClip.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>